@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网站管理系统</title>
    <link href="~/Areas/Admin/css/style.css" rel="stylesheet" />
    <script src="~/Areas/Admin/js/jquery.min.js"></script>
    <style>
        #un {
            font-size: 12px;
            color: red;
            margin-left: 20px;
            font-family: 'Microsoft YaHei';
        }

        #up {
            font-size: 12px;
            color: red;
            margin-left: 20px;
            font-family: 'Microsoft YaHei';
        }
    </style>
</head>
<body>
    <div id="llqtx"><div style="float:left;">您使用的浏览器版本过低,将会影响系统使用效果,为保障您高效的使用本系统，建议您升级谷歌Chrome浏览器，或升级IE浏览器。</div><span><a href="javascript:clo();">×</a></span></div>
    <div class="lgcon" style="margin-left:-280px;float:left;">
        <div class="dl" >
            <div class="dlk" id="mrk" >
                
                <div class="xtbt1"  style="text-align:center;padding-top:40px;"> <h4>用户登录</h4></div>
                <div class="uname">@Html.TextBox("uname")</div><p id="un"></p>
                <div class="pwd">@Html.TextBox("upwd", "", new { @type = "password" })</div><p id="up"></p>
                <div class="btn1"><input id="submit" type="submit" value="登　录" /> </div>
                
                
            </div>
        </div>
    </div>

    
</body>
</html>
<script src="~/Areas/Admin/js/login.js"></script>
<script src="~/Areas/Admin/js/JavaScript_Login.js"></script>